<?xml version="1.0"?>
<!--
/**
 * Module Declaration
 * 
 * Learning module for Magento 2 Web API, Service Contracts, and Repositories.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dudenkoff_ApiLearn" setup_version="1.0.0" />
</config>


